body{
	margin: 0 auto;
	width: 100%;
	background-color: #bbbbbb;
}
	
#wrapper{
	margin: 0 auto;
	width: 100%;
	background-color: #717e7c;
}
	
#projectinfo{
	margin: 0 auto;
	width: 40%;
	outline-style: solid;
	outline-color: #525b59;
	outline-width: 1px;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	vertical-align: text-top;
}

h1{
	font-size: 20px;
	font-family: Arial Black;
	padding: 15px 15px 0;
	color: #20302E;
	text-decoration: underline;
}

h2{
	font-size: 18px;
	font-family: Arial Black;
	padding: 15px 15px 0;
	color: #20302E;
	text-decoration: underline;
}

h3{
	font-size: 16px;
	font-family: Verdana;
	padding: 15px 25px 0;
	color: #55494A;
	text-decoration: underline;
	
}

#container{
	margin: 0 auto;
	outline-style: solid;
	outline-color: #525b59;
	outline-width: 1px;
	width: 38%;
	padding: 20px 20px 5px;
	font-family: Arial;
	font-size: 14px;
	background-color: #F2F2F2;
	line-height:;
}

p{
	padding: 10px 25px 3px;
	color: #000000;
}

#para1{
	text-align:center;
} 
